h2 {
  color: blue;
  font-style: underline;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* opacity: 0.5; */
  /* display: none; */
}

p {
  color: grey;
}
