h2 {
  color: blue;
  font-style: underline;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* opacity: 0.5; */
  /* display: none; */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

p {
  color: grey;
}

img {
  transition: 1.5s;
}

input:checked ~ img {
  /* 1. nếu muốn biên mất khỏi giao diện */
  /* display: none; */
  /* 2. biến mất nhưng vẫn chiếm vị trí */
  /* visibility: hidden; */
  /* 3. làm mờ */
  opacity: 0;
  visibility: hidden;
}

#doan-van-2 {
  color: purple;
}

h1 {
  color: red;
}

.demo {
  color: green;
}

.demo2 {
  font-size: 40px;
}
